<fieldset>
  <div class="panel panel-primary" style="border: none;">
    <div class="panel-heading dialog-title">
      <span class="header-space">Detalhamento Monitorador</span>
      <a (click)="fecharModal()" style="cursor: pointer;"><i class="bi bi-x-circle-fill" matTooltip="Fechar Modal"></i></a>
    </div>

    <div class="panel-body">
      <div class="form-group form-content">
        <table>
          <tr>
            <td style="width: 25%;"><strong>Tipo:</strong> {{data.monitorador.tipoPessoa == TipoPessoa.PF ? 'Física':'Jurídica'}}</td>
            <td style="width: 25%;"></td>
            <td *ngIf="data.monitorador.tipoPessoa === TipoPessoa.PJ" style="width: 25%;"><strong>CNPJ:</strong> {{data.monitorador.cpfCnpj}}</td>
            <td *ngIf="data.monitorador.tipoPessoa === TipoPessoa.PF" style="width: 25%;"><strong>CPF:</strong> {{data.monitorador.cpfCnpj}}</td>
          </tr>

          <tr *ngIf="data.monitorador.tipoPessoa == TipoPessoa.PF">
            <td style="width: 25%;"><strong>Nome:</strong> {{data.monitorador.nomeRazaoSocial}}</td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"><strong>RG:</strong> {{data.monitorador.rgIe}}</td>
          </tr>
          <tr *ngIf="data.monitorador.tipoPessoa === TipoPessoa.PJ">
            <td style="width: 25%;"><strong>Razão Social:</strong> {{data.monitorador.nomeRazaoSocial}}</td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"><strong>I.E:</strong> {{data.monitorador.rgIe}}</td>
          </tr>
          <tr>
            <td style="width: 50%;" colspan="2"><strong>Email:</strong> {{data.monitorador.email}}</td>
            <td style="width: 25%;"><strong>Telefone:</strong> {{data.monitorador.telefone}}</td>
          </tr>

          <tr>
            <td *ngIf="data.monitorador.tipoPessoa == TipoPessoa.PF" colspan="2" style="width: 25%;"><strong>Data de Nascimento:</strong> {{data.monitorador.dataNascimento | date:'dd/MM/yyyy'}}</td>

            <td *ngIf="data.monitorador.tipoPessoa == TipoPessoa.PF" colspan="2" style="width: 25%;"><strong>Status: </strong> {{data.monitorador.status ? 'Ativo': 'Inativo'}}</td>
          </tr>
          <tr>
            <td style="width: 25%;"><strong>Data de Cadastro:</strong> {{data.monitorador.dataCadastro | date:'dd/MM/yyyy'}}</td>
            <td style="width: 25%;"></td>
            <td *ngIf="data.monitorador.tipoPessoa != TipoPessoa.PF" colspan="2" style="width: 25%;"><strong>Status: </strong> {{data.monitorador.status ? 'Ativo': 'Inativo'}}</td>
          </tr>
          <!-- TABELA DE ENDEREÇOS -->
          <tr>
            <td colspan="4">
              <!-- sua-tabela.component.html -->
              <div>
                <mat-card class="mat-elevation-z8 table-data">
                  <mat-card-content><h2>Endereços</h2> </mat-card-content>
                </mat-card>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <!-- CEP Column -->
                  <ng-container matColumnDef="cep">
                    <th mat-header-cell *matHeaderCellDef> CEP </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.cep }} </td>
                  </ng-container>

                  <!-- Logradouro Column -->
                  <ng-container matColumnDef="logradouro">
                    <th mat-header-cell *matHeaderCellDef> Logradouro </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.logradouro }} </td>
                  </ng-container>

                  <!-- Complemento Column -->
                  <ng-container matColumnDef="complemento">
                    <th mat-header-cell *matHeaderCellDef> Complemento </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.complemento }} </td>
                  </ng-container>

                  <!-- Numero Column -->
                  <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> Número </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.numero }} </td>
                  </ng-container>

                  <!-- Bairro Column -->
                  <ng-container matColumnDef="bairro">
                    <th mat-header-cell *matHeaderCellDef> Bairro </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.bairro }} </td>
                  </ng-container>

                  <!-- Cidade Column -->
                  <ng-container matColumnDef="cidade">
                    <th mat-header-cell *matHeaderCellDef> Cidade </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.localidade }} </td>
                  </ng-container>

                  <!-- Estado Column -->
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let endereco"> {{ endereco.uf }} </td>
                  </ng-container>

                  <!-- Configuração da Tabela -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- Paginação -->
                <mat-paginator [pageSize]="[1]" [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Dados de Endereço"></mat-paginator>
              </div>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</fieldset>
