<fieldset>
    <div class="panel panel-primary" style="border: none;">
      <div class="panel-heading dialog-title" >
        <span class="header-space">Cadastro Pessoa {{data.tipoPessoa}} </span>
        <a (click)="fecharModal()"><i class="bi bi-x-circle-fill" matTooltip="Fechar Modal" ></i></a>
      </div>

      <div class="panel-body">
        <div class="form-group form-content">

          <form [formGroup]="monitoradorForm">
            <div></div>
            <table class="example-full-width">
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                    @if(data.tipoPessoa === TipoPessoa.PF) {
                      <mat-label>Nome Completo</mat-label>

                    }
                    @if(data.tipoPessoa === TipoPessoa.PJ) {
                      <mat-label>Razão Social</mat-label>
                    }
                    <input matInput required formControlName="nomeRazaoSocial" name="nomeRazaoSocial">
                    <mat-icon matSuffix>toc</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width" appearance="outline">
                    @if(data.tipoPessoa === TipoPessoa.PF) {
                      <mat-label>CPF</mat-label>
                    }
                    @if(data.tipoPessoa === TipoPessoa.PJ) {
                      <mat-label>CNPJ</mat-label>
                    }
                    <input matInput formControlName="cpfCnpj" name="cpfCnpj">
                    <mat-icon matSuffix>assignment_ind</mat-icon>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" appearance="outline">
                    @if(data.tipoPessoa === TipoPessoa.PF) {
                      <mat-label>RG</mat-label>
                    }
                    @if(data.tipoPessoa === TipoPessoa.PJ) {
                      <mat-label>Inscrição Estadual</mat-label>
                    }
                    <input matInput formControlName="rgIe" name="rgIe">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                  </mat-form-field>
                </td>

              </tr>

              <tr>
                <td>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" name="email" placeholder="Ex. contato@email.com">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" name="telefone">
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td *ngIf="data.tipoPessoa === TipoPessoa.PF">
                  <mat-form-field class="example-full-width">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataNascimento" name="dataNascimento">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <span>Status: </span>
                  <mat-slide-toggle formControlName="status" name="status"></mat-slide-toggle>
                  {{ monitoradorForm.get('status')!.value ? 'Ativo' : 'Inativo' }}
                </td>
                <td>

                </td>
              </tr>
            </table>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)=" CadastrarMonitorador(monitoradorForm.value)"> Save</button>
            </mat-card-actions>

            <div >
              {{monitoradorForm.value |json}}

            </div>
          </form>


      </div>
    </div>
    </div>

  </fieldset>

