td {
  padding-right: 5px;
}
.panel-heading{
  font-size:150%;
}
.form-content {
  padding: 10px;
}
.header-space {
  flex: 1 1 auto;
}
.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212129;
  color: #ECEBE9;
  padding-left: 10px;
  padding-right: 10px
}
