@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: white;
    color: white;
    background-size: cover;
    background-position: center;
}

.side-bar {
    background: #1b1a1b;
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left:  0px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar.active {
    left: 0;
}

h2 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 13px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.side-bar .menu {
    width: 100%;
    margin-top: 30px;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;

}

.side-bar .menu .item a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover {
    background: #33363a;
    transition: 0.3s ease;
}

.side-bar .menu .item i {
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background: #262627;
    display: none;
}

.side-bar .menu .item .sub-menu a {
    padding-left: 50px;
}

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 23px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 25px;
    cursor: pointer;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    line-height: 80px;
}

@media (max-width: 900px) {
    .main h1 {
        font-size: 40px;
        line-height: 60px;
    }
}

img {
    width: 100px;
    padding-top: 5px;
    border-radius: 50%;
    margin-left: 70px;
    border: 3px solid #a9adaf;
}

header {
    background: #33363a;
}

.header-top {
    background-color: #1b1a1b;
    color: white;
    position: fixed;
    top: 10px;
    left: calc(250px + 5px);
    right: 15px;
    z-index: 10;
    height: 80px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Faz o container crescer para ocupar o espaço disponível */
}

.header-top h2 {
    margin: 0 10px;
    color: white;
}

.header-icon {
    height: 60px;
    border: 0px;
}


.header-icon.left {

}

.header-icon.right {
    transform: scaleX(-1); /* espelha a imagem */
}

.menu-btn {
    visibility: hidden; /* Começa invisível */
    color: rgb(255, 255, 255);
    flex-shrink: 0; /* Impede o botão do menu de encolher */
}

.content {
    margin-top: 110px; /* Ajuste baseado na altura do header-top mais um pouco de espaço */
    left: calc(250px + 5px); /* Alinhado com o header-top */
    right: 5px; /* Alinhado com o lado direito da tela */
    position: absolute; /* Posicionamento absoluto */
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for muito longo */
}

@media (max-width: 900px) {
    .content {
        left: 5px; /* Ajuste para telas menores */
    }
}
.sidebar-title {
    text-align: center;
    font-size: 24pt;
    color: white;
}