<div class="panel panel-primary" style=" border: none ">
  <div class="dialog-title">
    <span class="header-space">Importar do Arquivo Excel</span>
    <a (click)="fecharModal()" style="cursor: pointer;"><i class="bi bi-x-circle-fill"
                                                           matTooltip="Fechar Modal"></i></a>
  </div>
  <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="showFeedBackPanel">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <button type="button" class="close" data-dismiss="alert" (click)="closeFeedbackPanel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>{{errorMensagem}}</strong>
  </div>
  <div class="central-div" style="padding: 10px">

    <div class="central-div"
         style=" width: 80%;padding: 10px; border: 1px solid black; border-radius: 9px;display: block">
      <input type="file" class="file-input"
             (change)="onChange($event)" #fileUpload>

      <div class="file-upload">

        {{ fileName || "Selecione um arquivo..." }}

        <button class="btn btn-dark upload-btn"
                (click)="fileUpload.click()" style="border-radius: 50%">
          <mat-icon>attach_file</mat-icon>
        </button>

      </div>

    </div>


  </div>
  <div *ngIf="file">
    <section class="file-info">
      <strong>Detalhes do Arquivo:</strong>
      <ul>
        <li><strong>Nome:</strong> {{ getFileNameWithoutExtension(file.name) }}</li>
        <li><strong>Tipo:</strong> *{{ getFileExtension(file.name) }}</li>
        <li><strong>Tamanho:</strong> {{ getFileSizeInMB(file.size) }} <strong>MBytes</strong></li>
        <li><strong>Status:
          <section [ngSwitch]="status">
            <span *ngSwitchCase="'uploading'">⏳ Importando...</span>
            <span *ngSwitchCase="'success'">✅ Concluido!</span>
            <span *ngSwitchCase="'fail'">❌ Falha!</span>
            <span *ngSwitchDefault>😶 Aguardando Upload...</span>
          </section>
        </strong></li>
      </ul>
    </section>

    <div class="central-div">
      <button (click)="onUpload()" class="btn btn-dark">Carregar Arquivo&nbsp;&nbsp;<i class="bi bi-upload"></i>
      </button>
    </div>


  </div>
</div>


