  <div class="panel panel-primary">
    <div class="panel-heading dialog-title">
      <span class="header-space">Deletar Monitorador</span>
      <a (click)="fecharModal()" style="cursor: pointer;"><i class="bi bi-x-circle-fill" matTooltip="Fechar Modal"></i></a>
    </div>

    <div class="panel-body">

        <mat-dialog-content>
          <table>
            <tr>
              <td>Tem certeza que deseja excluir o monitorador</td>
            </tr>
            <tr>
              <td><strong>{{data.monitorador.nomeRazaoSocial}}?</strong></td>
            </tr>
          </table>

        </mat-dialog-content>
        <div class="central-div">
          <mat-dialog-actions><strong>
            <button mat-raised-button color="dark" mat-dialog-close class="button-no">
              <span class="spn-space">Não</span>
              <i class="bi bi-x-lg icon-btn-no"></i>
            </button>
          </strong>
          <strong>
            <button mat-raised-button color="dark" (click)="deleteMonitorador(data.monitorador)" cdkFocusInitial class="button-yes">
              <span class="spn-space">Sim</span>
              <i class="bi bi-check-circle icon-btn-yes"></i>
            </button>
          </strong>
          </mat-dialog-actions>
        </div>
      </div>

  </div>

