* {
  overflow: hidden;
}
.panel-heading{
  font-size:150%;
}
.form-content {
  padding: 10px;
}
.header-space {
  flex: 1 1 auto;
  font-size: 20px;
}
.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212129;
  color: #ECEBE9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.central-div {
  display: flex;
  justify-content: center;
}
.icon-btn-yes {
  font-size: 1.35em;
  font-weight: 90;
  text-shadow: 2px 2px 4px rgb(48, 48, 58);
  color: green;
}
.icon-btn-no {
  font-size: 1.35em;
  font-weight: 90;
  text-shadow: 2px 2px 4px rgb(48, 48, 58);
  color: red;
}
.spn-space {
  margin-right: 15px;
}
.button-yes {
  border: 1px solid #212129;
}
.button-no {
  margin-right: 30px;
  border: 1px solid #212129;
}
