table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}
.table-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 5px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: #212129;
  color: #ecebe9;
  text-shadow: 2px 2px 4px rgb(90, 90, 91);
}
.table-data {

}
.container-btn {
  display: flex;
  justify-content: left;
  margin: 10px;
}
.content-btn {
  margin-right: 5px ;
}
.filter-container {
  padding: 10px;
}
.menu-icon {
  font-size: 1.35em;
  text-shadow: 2px 2px 4px rgb(48, 48, 58);
  color: #212129;
  padding-right: 7px;
}
