<mat-toolbar class="mat-elevation-z8 custom-toolbar">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="header-title">Projeto Monitorador</span>
  <span class="header-space"></span>
  <button mat-button routerLink="dataTable"><span class="header-home">Pagina Inicial</span> </button>
  <a href="#" mat-raised-button >Cadastre-se</a>
</mat-toolbar>

<mat-drawer-container autosize >
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <a href="#" routerLink=""><i class="bi bi-person-workspace header-icon"></i> <span class="header-text"><b>Monitorador</b>  </span></a>
      </mat-list-item>
      <mat-list-item class="dropdown-btn" (click)="toggPF()">
        <i class="bi bi-person-vcard header-icon"></i> <span class="header-text"><b>Pessoa Física</b></span>
      </mat-list-item>
      <div *ngIf="!toggle_pf_menu">
        <ul style="background: #d7d6d4">
          <li><a mat-list-item href="#"><i class="bi bi-eye header-icon"></i><span class="header-text"> Vizualizar</span></a></li>
          <li><a mat-list-item  (click)="openDialog(TipoPessoa.PF)"><i class="bi bi-plus-square header-icon"></i><span class="header-text"> Cadastrar</span></a></li>
          <li><a mat-list-item href="#"><i class="bi bi-search header-icon"></i><span class="header-text"> Buscar</span></a></li>
        </ul>
      </div>
      <mat-list-item class="dropdown-btn" (click)="toggPJ()">
        <i class="bi bi-building header-icon"></i> <span class="header-text"><b>Pessoa Jurídica</b></span>
      </mat-list-item>
      <div *ngIf="!toggle_pj_menu">
        <ul style="background: #d7d6d4">
          <li><a mat-list-item href="#"><i class="bi bi-eye header-icon"></i><span class="header-text"> Vizualizar</span></a></li>
          <li><a mat-list-item  (click)="openDialog(TipoPessoa.PJ)"><i class="bi bi-plus-square header-icon"></i><span class="header-text"> Cadastrar</span></a></li>
          <li><a mat-list-item href="#"><i class="bi bi-search header-icon"></i><span class="header-text"> Buscar</span></a></li>
        </ul>
      </div>
      <mat-list-item>
        <a href="#" routerLink=""><i class="bi bi bi-graph-up-arrow header-icon"></i> <span class="header-text"><b>Relatórios</b>  </span></a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
