<mat-toolbar class="mat-elevation-z8 custom-toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-title">Projeto Monitorador</span>
  <span class="header-space"></span>
  <button mat-button routerLink="dataTable"><span class="header-home">Pagina Inicial</span></button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start" style="background: #FAF9F6; border-right: 1px solid rgba(47,47,47,0.61);">

    <div class="sidebar-header">

      <div class="user-pic">
        <img class="img-responsive img-rounded" src="assets/espiao.png"
             alt="User picture">

      </div>
    </div>
    <div class="user-info">
          <span class="user-name">
            <strong>Rafael Guibson</strong>
          </span>
      <span class="user-role">Administrator</span>
      <span class="user-status">
            <i class="bi bi-circle-fill" style="color: green"></i>
            <span>Online</span>
          </span>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item>
        <a (click)="vizualizarTodos()"><i class="bi bi-person-workspace header-icon"></i> <span class="header-text"><b>Monitorador</b>  </span></a>
      </mat-list-item>
      <mat-list-item class="dropdown-btn" (click)="toggPF()">
        <i class="bi bi-person-vcard header-icon"></i> <span class="header-text"><b>Pessoa Física</b></span>
      </mat-list-item>
      <div *ngIf="!toggle_pf_menu">
        <ul style="background: rgba(239,237,234,0.87)">
          <li><a mat-list-item (click)="visualizarPF()"><i class="bi bi-eye header-icon"></i><span
            class="header-text"> Vizualizar</span></a></li>
          <li><a mat-list-item (click)="openDialog(TipoPessoa.PF)"><i class="bi bi-plus-square header-icon"></i><span
            class="header-text"> Cadastrar</span></a></li>
          <li><a mat-list-item  (click)="filtrarPF()"><i class="bi bi-search header-icon"></i><span class="header-text"> Buscar</span></a>
          </li>
        </ul>
      </div>
      <mat-list-item class="dropdown-btn" (click)="toggPJ()">
        <i class="bi bi-building header-icon"></i> <span class="header-text"><b>Pessoa Jurídica</b></span>
      </mat-list-item>
      <div *ngIf="!toggle_pj_menu">
        <ul style="background: rgba(239,237,234,0.87)">
          <li><a mat-list-item (click)="visualizarPJ()"><i class="bi bi-eye header-icon"></i><span
            class="header-text"> Vizualizar</span></a></li>
          <li><a mat-list-item (click)="openDialog(TipoPessoa.PJ)"><i class="bi bi-plus-square header-icon"></i><span
            class="header-text"> Cadastrar</span></a></li>
          <li><a mat-list-item (click)="filtrarPJ()"><i class="bi bi-search header-icon"></i><span class="header-text"> Buscar</span></a>
          </li>
        </ul>
      </div>
      <mat-list-item class="dropdown-btn" (click)="toggReport()">
        <i class="bi bi bi-graph-up-arrow header-icon header-icon"></i> <span class="header-text"><b>Relatórios</b></span>
      </mat-list-item>
      <div *ngIf="!toggle_report_menu">
        <ul style="background: rgba(239,237,234,0.87)">
          <li><a mat-list-item href="#"><i class="bi bi-filetype-pdf header-icon custom-bold-icon"></i><span
            class="header-text">Exportar - PDF</span></a></li>
          <li><a mat-list-item><i class="bi bi-filetype-xlsx header-icon custom-bold-icon"></i><span
            class="header-text" (click)="exportToExcel()"> Exportar - XLSX</span></a></li>
          <li><a mat-list-item (click)="importFromExcel()"><i class="bi bi-file-spreadsheet header-icon custom-bold-icon"></i><span
            class="header-text"> Importar - XLSX</span></a>
          </li>
        </ul>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style="background: #FAF9F6">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
