table {
  max-width: 450px;
}
td {
  padding-right: 5px;

}
.panel-heading{
  font-size:150%;
  background: #212129;
}
.form-content {
  padding: 10px;
}
.header-space {
  flex: 1 1 auto;
  justify-content: space-between;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212129;
  color: #ECEBE9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.mat-card-actions {
  justify-content: space-between;
  display: flex;
}
/* endereco-form.component.css */
.form-icon {
  font-size: 1.35em;
  font-weight: 90;
  text-shadow: 2px 2px 4px rgb(48, 48, 58);
  color: #212129;
}
mat-card {
  font-size: 1.004em;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.mat-card-content {
  padding: 5px;
}
